@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .links {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
   
    animation: fadeIn 1s forwards;
  }

  .links p {
   
    color: white;

    
    transition: transform 0.3s ease, background-color 0.3s ease;
    @apply bg-blue-500 rounded-sm
  }

  .links p:hover {
    transform: scale(1.1);
    @apply bg-blue-700
  }
}
